In [ ]:
#Robert K Poeng
#M04 Programming Assignment - Modules and Databases

#Section 11

In [ ]:
#11.1 Make a file called zoo.py. In it, define a function called hours that prints the string 'Open 9-5 daily'. 
#Then, use the interactive interpreter to import the zoo module and call its hours function.

#Section 11.1 is saved as zoo.py

In [1]:
import zoo
zoo.hours()

Open 9-5 daily

In [2]:
#11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

import zoo as meagerie
meagerie.hours()

Open 9-5 daily

In [ ]:
#Section 16

In [ ]:
#16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. 
#As in 16.6, select and print the title column from the book table in alphabetical order.

In [1]:
text = '''title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
    Perdido Street Station,China MiÃ©ville,2000
    Thud!,Terry Pratchett,2005
    The Spellman Files,Lisa Lutz,2007
    Small Gods,Terry Pratchett,1992
    '''
with open('books2.csv', 'wt') as outfile:
     outfile.write(text)

In [2]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')

OperationalError: table book already exists

In [3]:
db.commit()

In [7]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)